[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
aiogram = "*"
requests = "*"
bs4 = "*"
selenium = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
